<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="login-register">
    <header>
        <h2 class="logo">Password Hash Converter</h2>
    </header>
    
    <div class="wrapper">
        <div>
            <h2>Register</h2>

            <br>
            <form method='post'>
                <div class="input-row">
                    <span class="icon">
                        <ion-icon name="mail"></ion-icon>
                    </span>
                    <label>Username:</label>
                    <input type='text' name='username' class="text-box" required><br><br>
                </div>
                <div class="input-row">
                    <span class="icon">
                        <ion-icon name="lock-closed"></ion-icon>
                    </span>
                    <label>Password:</label>
                    <input type='password' name='password' class="text-box" required><br><br>
                </div>
                <br>
                <button type='submit' class="btn in">REGISTER</button>
            </form>

            <br>
            <p>Already have an account? <a href='/login'>Login here</a></p>

            {% if error %}
            <script>
                alert("{{ error }}");
            </script>
            {% endif %}
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
